@font-face {
  font-family: "Athelas-Regular";
  src: url("/assets/fonts/Athelas-Regular.ttf") format("opentype");
}
:root{
  /* font color */
  --primary-light-purple:#edf0f1;
  --primary-skyblue:rgb(130, 192, 232);
  --primary-light-skyblue:rgb(130, 192, 232);
  --primary-bright-pink:#f599be;

  --neutral-white:#fff;
  --neutral-gray:#999;

  /* font size */
  --font-size-large:3.5rem;
  --font-size-extra-big:3rem;
  --font-size-big:2.875rem;
  --font-size-medi:2.2rem;

  --font-size-section-title: 1.375rem;
  --font-size-section-paragraph: 1.015rem;

  --font-size-medi-normal:1.5rem;
  --font-size-normal:1.1rem;
  --font-size-small:0.775rem;
  --font-size-extra-small:0.575rem;

  /* gap */
  --padding-gap:1.5rem;

  /* transition */
  --transition-bouncy:linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
}
/* reset */
*,
*::before,
*::after{
  box-sizing: border-box;
}
*{
  padding: 0;
  margin: 0;
  line-height: 1.5;
  list-style: none;
  text-decoration: none;
  font-size: var(--font-size-normal);
}
a{
  color: inherit;
}
img, svg{
  max-width: 100%;
}
/* utility */
body{
  color: var(--primary-skyblue);
  font-family: "Quicksand", sans-serif;
  height:100vh;

  /* display: grid;
  grid-template-columns: auto 5fr;
  grid-template-rows: auto 1fr; */
}
i{
  font-size: var(--font-size-medi-normal);
}
.user-icon{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}
.btn{
  cursor: pointer;
  color: var(--neutral-white);
  background-color: var(--primary-bright-pink);
  font-size: var(--font-size-normal);
  font-weight: 600;
  padding: 0.475em 1.675em;
  border-radius: 77777777px;
  border: none;
  margin-left: 1rem;
}
.card{
  background-color: var(--neutral-white);
  box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.05);
  padding: var(--padding-gap);
  width: 100%;
}
.card__description{
  font-size: var(--font-size-section-paragraph);
}
.card__title{
  font-size: 1.175rem;
  line-height: 1.2;
}
.user-title{
  color: var(--primary-skyblue);
  font-size: 1.075rem;
}
.title{
  font-size: var(--font-size-section-title);
}
.container{
  background-color: var(--neutral-white);
  box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.05);
  border-radius: 20px;
  padding: var(--padding-gap);
}
/* sidebar */
nav{
  background-image: linear-gradient(to top, rgba(130, 192, 232, 0.9) 0%, rgb(130, 192, 232) 70%, rgba(130, 192, 232, 0.9) 100%), url(/images/bg-texture.png);
  color: var(--neutral-white);
  height: 100vh;
  width: 5rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 200ms var(--transition-bouncy);
}
.sidebar__logo{
  width: 100%;
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
}
.sidebar__logo i{
  font-size: 1.9rem;
  transform: scale(1.5);
  transition: 0.3s ease;
}
.sidebar__logo span{
  font-size: 1.4rem;
}
.nav-top{
  margin-bottom: 2.5rem;
}
.sidebar__nav__links{
  width: 100%;
}
.sidebar__nav__link a{
  height: 5rem;
  display: flex;
  align-items: center;
}
.sidebar__nav__link i{
  font-size: 1.8rem;
  margin: 0 1.5rem;
}
.sidebar__nav__link span{
  font-weight: 600;
  white-space: nowrap;
  margin-left: 1rem;
  display: none;
  transition: 0.3s ease;
}
/* main */
main{
  margin-left: 5rem;
}
/* header */
header{
  color: var(--primary-bright-pink);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.16);
  padding: 0 2.5rem;
  margin-right: auto;

  grid-row: 1 / 2;
}
.header__top, .header__bottom{
  /* padding: 1.5rem 0; */
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top__left i{
  margin-right: var(--padding-gap);
}
.header__top__left{
  width: 55vw;
  margin-right: var(--padding-gap);
  display: flex;
}
.header__top__left #search{
  background-color: var(--primary-light-purple);
  color: var(--primary-skyblue);
  font-size: var(--font-size-normal);
  border-radius: 777777px;
  border: none;
  padding: 0.275em 1rem;
  outline: none;
  width: 100%;
}
.header__top__right{
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: var(--padding-gap);
}
.header__top__right img{
  width: 65px;
  height: 65px;
}
.header__bottom__left{
  display: flex;
  align-items: center;
  gap: var(--padding-gap);
}
.header__bottom__left img{
  width: 85px;
  height: 85px;
  border: 1px solid #dddddd8c;
}
.header__bottom__left span{
  font-weight: 600;
  font-size: var(--font-size-normal);
}
.header__bottom__left h4{
  font-size: var(--font-size-medi-normal);
}
/* hero */
/* content */
.hero{
  background-color: var(--primary-light-purple);
  padding: var(--padding-gap);
  /* height: calc(100vh - 250px); */

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: var(--padding-gap);
}
.hero__projects__wrapper,
.hero__announcements__wrapper,
.hero__trending__wrapper {
  display: grid; 
  grid-template-rows: auto 1fr; 
  gap: var(--padding-gap);
}
.hero__projects__card__container,
.hero__announcements__card__container,
.hero__trending__card__container {
  overflow-y: auto;
}
/* projects */
.hero__projects__wrapper{
  grid-column: 1/2;
  grid-row: 1/3;
}
.hero__projects__card__container{
  display: grid;
  grid-template-columns: repeat(2,minmax(350px,1fr));
  gap: var(--padding-gap);
}
.hero__projects__card{
  border-left: 10px solid var(--primary-bright-pink);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__text{
  overflow: auto;
}
.card__buttons{
  align-self: flex-end;
  display: flex;
  align-items: center;
}
.card__buttons i{
  cursor: pointer;
  padding: 0.075em 0.300em;
  transition: 200ms ease-out;
}
.card__buttons i:not(:last-child){
  margin-right: var(--padding-gap);
}
/* announcements */
.hero__announcements__wrapper{
  grid-column: 2/3;
  grid-row: 1/2;
}
.hero__announcements__card__container{
  display: grid;
  grid-template-rows: auto auto auto;
}
.hero__announcements__card{
  padding: 1.5rem 0;
  overflow-y: auto;
}
.hero__announcements__card:not(:last-child){
  border-bottom: 1px solid var(--primary-light-purple);
}
.hero__announcements__card .card__description{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* trending */
.hero__trending__wrapper{
  grid-column: 2/3;
  grid-row: 2/3;
}
.hero__trending__card{
  padding: 1rem 0;
  gap: var(--padding-gap);
  display: flex;
  align-items: center;
}
.user-name{
  cursor: pointer;
  display: block;
  font-weight: 600;
}
/* ui transitions */
.header__top__right,
.btn,
.hero__projects__card .card__buttons i{
  transition: 0.3s ease;
}
.btn:hover{
  color: var(--primary-bright-pink);
  background-color: var(--neutral-white);
  border: 1px solid var(--primary-bright-pink);
}
.hero__projects__card .card__buttons i:hover{
  color: var(--neutral-white);
  background-color: var(--primary-skyblue);
  border-radius: 100%;
}
/* media */
@media (max-width: 1170px){
  .hero{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 500px;
    transition: 0.3s var(--transition-bouncy);
  }
  .hero__projects__wrapper{
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .hero__announcements__wrapper{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .hero__trending__wrapper{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .btn{
    font-size: 0.775rem;
    padding: 0.375em 1.375em;
    transition: 0.3s ease;
  }

  .header__top__right img{
    width: 55px;
    height: 55px;
    transition: 0.3s ease;
  }
  .header__bottom__left img{
    width: 75px;
    height: 75px;
    transition: 0.3s ease;
  }
  .header__bottom__left span{
    font-weight: 600;
    font-size: 0.775rem;;
    transition: 0.3s ease;
  }
  .header__bottom__left h4{
    font-size: var(--font-size-normal);
    transition: 0.3s ease;
  }
}
  /* nav hover bar start*/
@media(min-width:881px){
  nav:hover{
    width: 333px;
  }
  nav:hover span{
    display: block;
  }
  .sidebar__nav__link a:hover{
    background-color: var(--primary-light-purple);
    color: var(--primary-skyblue);
  }
  nav:hover .sidebar__logo{
    background-color: var(--primary-light-purple);
    color: var(--primary-skyblue);
    border-bottom: 1px solid var(--primary-skyblue);
  }
  nav:hover .sidebar__logo i{
    transform: scale(1);
  }
}
  /* nav hover bar end*/
@media (max-width: 880px){
  /* nav start*/
  nav{
    top: 0;
    height: 3rem;
    width: 100vw;
    flex-direction: row;
  }
  .nav-top{
    margin-bottom: 0;
  }
  .sidebar__nav__links{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar__logo{
    height: 100%;
    width: 5rem;
    border-bottom: 0;
    border-right: 1px solid #ffffff;
  }
  .sidebar__nav__link{
    height: 100%;
    width: 100%;
    display: flex;
  }
  .sidebar__nav__link:hover:not(:first-child){
    background-color: var(--primary-light-purple);
    color: var(--primary-skyblue);
  }
  .sidebar__nav__link a{
    height: auto;
    margin: auto;
  }
  .sidebar__nav__link i{
    font-size: 1.2rem;
    margin: 0;
    padding: 0 1.2rem;
  }
  .nav-bot{
    display: none;
  }
  /* nav end*/
  .header__bottom{
    display: none;
  }
  main{
    margin-left: 0rem;
    margin-top: 3rem;
  }
  .hero{
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    transition: 0.3s var(--transition-bouncy);
  }
  .hero__projects__wrapper{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .hero__announcements__wrapper{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .hero__trending__wrapper{
    grid-column: 1/2;;
    grid-row: 3/4;
  }
  .btn{
    font-size: 0.775rem;
    padding: 0.375em 1.375em;
    transition: 0.3s ease;
  }

  .header__top__right img{
    width: 55px;
    height: 55px;
    transition: 0.3s ease;
  }
  .header__bottom__left img{
    width: 75px;
    height: 75px;
    transition: 0.3s ease;
  }
  .header__bottom__left span{
    font-weight: 600;
    font-size: 0.775rem;;
    transition: 0.3s ease;
  }
  .header__bottom__left h4{
    font-size: var(--font-size-normal);
    transition: 0.3s ease;
  }
  .hero__projects__card__container{
    grid-template-columns: minmax(200px,1fr);
  }
  .hero__projects__card{
    grid-column: 1;
  }
}